yeah sure!
Repeat that again?
I prefer not advise on that
Great, Go ahead
It is decidedly so
Very doubtful
My reply is clean no
Most likely
Dont count on it
Yes,definitely
Please ask again later
As I see it,yes
Give it a thought again
Better not tell you now
Consider the future, please
Won't hurt, it's OK
I can't tell you my current prediction
Unable to predict that
Hold on for a while, it's gonna be fine
All the best!
